*, *:before, *:after {
  box-sizing: border-box;
  font-family: Lato, FontAwesome, Arial, sans-serif;
  padding: 0;
}

body {
  line-height: 1.5;
  margin: 0;
  font-size: 1em;
  font-weight: 300;
}

section {
  text-align: center;
  display: block;
  padding: 80px 16%;
  margin: 0;
  height: auto;
  border-bottom: solid 1px #ccc;
}

section h3 {
  color: black;
  font-weight: 700;
}

a {
  text-decoration: none;
}

/*a:link {
  color: white;
}

a:visited {
  color: white;
}

a:hover {
  color: #c71e1e;
}*/

/******************************************************************************
  Rules for individual sections
******************************************************************************/

#hero_section {
  text-align: center;
  display: block;
  padding: 0;
  width: 100%;
  background-color: grey;
  min-height: 100vh;
  max-height: 700px;
  /*position: relative;*/
  background-image: url("../images/landing_page/full_header_image.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}

#solution_section {
  display: inline-block;
}

#solution_section .solution {
  display: block;
  float: left;
  width: 50%;
  overflow: hidden;
  text-align: left;
  padding: 0 5px;
  height: auto;
  min-width: 200px;
  min-height: 300px;
}

#solution_section .solution h3 {
  color: #3B90AF;
}

#project_section {
  display: inline-block;
}

#project_section .project {
  display: block;
  float: left;
  width: 50%;
  overflow: hidden;
  text-align: left;
  padding: 0 5px;
  height: auto;
  min-width: 150px;
  min-height: 250px;
}

#project_section .project h3 {
  color: #FFDA90;
}

#project_section .project img {
  width: 50%;
  float: left;
  overflow: hidden;
}

#partner_section {
  display: inline-block;
  width: 100%;
}

#partner_section .partner {
  display: block;
  float: left;
  width: 50%;
  overflow: hidden;
  margin: auto;
  height: auto;
  min-width: 400px;
}

#partner_section .partner_container {
  height: 5%;
  margin: auto;
}

#partner_section .partner img {
  max-width: 50%;
  height: auto;
}

#press_section {
  display: block;
  margin: auto;
}

#press_section table {
  display: inline-block;
  margin: auto;
  text-align: left;
  border-spacing: 0;
}

#press_section table td {
  padding: 0 10px;
}

#press_section table tr td {
  border: solid 1px #ccc;
  margin: 0;
}

#press_section table tr:nth-child(even) {
  background-color: #f2f2f2
}

#contact_section {
  color: white;
  background-color: black;
}

#contact_section h3 {
  color: white;
}

/*#contact_section label {
  display:block;
  margin-top:20px;
  letter-spacing:2px;
}

#contact_section form {
    margin:0 auto;
    width:459px;
}

#contact_section input, textarea {
  width:500px;
  height:27px;
  background: white;
  border:1px solid #999;
  padding:10px;
  margin-top:3px;
  font-size:0.9em;
  color:#3a3a3a;
  /*-moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;
}

#contact_section textarea {
  height:250px;
}

#contact_section button {
  border: none;
  color: white;
  padding: 2px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;
}

#contact_section input:focus, textarea:focus {
    border:1px solid #97d6eb;
}*/

#contact_section .contact a:link {
  color: white;
}

#contact_section .contact a:visited {
  color: white;
}

#contact_section .contact a:hover {
  color: #c71e1e;
}

/*footer {
  color: white;
  background-color: black;
  margin: 0;
  padding: 5px;
}

footer a:link {
  color: white;
}

footer a:visited {
  color: white;
}

footer a:hover {
  color: #c71e1e;
}*/

/******************************************************************************
  My nav rules
******************************************************************************/

.nav-hide {
  /*top: -45px;*/
  overflow: hidden;
  height: 45px;
  padding: 0;
  line-height: 40px;
  padding: 0 10px;
  position: fixed;
  z-index: 2;
  width: 100%;
  color: white;
  background-color: black;
  transition: top 0.2s;
  overflow: hidden;
}

.nav-show {
  top: 0px;
  transition: top 0.2s;
}

nav ul {
  display: block;
  padding: 0;
  margin: auto;
}

nav li {
  display: inline;
  margin: auto;
  padding: 0 5px;
}

nav a:link {
  color: white;
}

nav a:visited {
  color: white;
}

nav a:hover {
  color: #c71e1e;
}

.links {
  float: right;
}

.company_name {
  float: left;
  display: block;
  font-weight: 700;
}

.company_name h3 {
  margin: auto;
}

/******************************************************************************
  Back to top from:  http://html-tuts.com/back-to-top-button-jquery/
******************************************************************************/

a.back-to-top {
	display: none;
	width: 60px;
	height: 60px;
	position: fixed;
  /*background: #6897bb url("../img/cd-top-arrow.svg") no-repeat center 43%;*/
	z-index: 1;
	right: 25px;
	bottom: 25px;
  color: #F0F1F3;
}

a.back-to-top:hover {
  animation-name: pulse;
  animation-duration: 1s;
}

/******************************************************************************
  Nav Toggle and sidebar rules on mobile device
******************************************************************************/

#nav-toggle {
  position: fixed;
  left: 5%;
  top: 1%;
  cursor: pointer;
  padding: 30px 100px 36px 0px;
  display: none;
  z-index: 5;

  transition: left 0.25s;
}

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  height: 2px;
  width: 15px;
  background: #F0F1F3;
  position: absolute;
  display: block;
  content: '';

  transition: all 0.25s;
}

#nav-toggle span:before {
  top: -5px;
}

#nav-toggle span:after {
  bottom: -5px;
}

#nav-toggle.is-open span {
  background-color: transparent;

  transition: left 0.25s;
}

#nav-toggle.is-open {
  left: 35%;

  transition: left 0.25s;

}

#nav-toggle.is-open span:before {
  top: 0;
  transform: rotateZ(45deg);
}

#nav-toggle.is-open span:after {
  bottom: 0;
  transform: rotateZ(-45deg);
}

.sidebar {
  position: fixed;
  top: 0;
  left: -30%;
  height: auto;
  width: 30%;
  background-color: black;
  margin: auto;
  z-index: 5;
  padding: 5px;
  opacity: 0.95;

  transition: left 0.25s;

}

.sidebar li {
  padding: 5px;
}


.sidebar a:link {
  color: white;
}

.sidebar a:visited {
  color: white;
}

.sidebar a:hover {
  color: #c71e1e;
}

.sidebar.is-open {
  left: 0;
}

/******************************************************************************
  Media Queries Below
******************************************************************************/

@media all and (max-width: 960px) {
  html {
    font-size: 16px;
  }

  body {
    max-width: 960px;
  }
}

@media all and (max-width: 900px) {
  html {
    font-size: 12px;
  }
  body {
    max-width: 900px;
  }
  .stacktable.large-only {
      display: table;
  }
  .stacktable.small-only {
      display: none;
  }
}

@media all and (max-width: 670px) {
  html {
    font-size: 10px;
  }
  nav {
    display: none;
  }
  a.back-to-top {
    right: 1%;
    bottom: 1%;
  }
  #nav-toggle {
    display: block;
  }
  #solution_section .solution {
    display: block;
    float: left;
    width: 100%;
    overflow: hidden;
    text-align: left;
    padding: 0 5px;
    height: auto;
    min-width: 200px;
    min-height: 150px;
  }
  #project_section .project {
    display: block;
    float: left;
    width: 100%;
    overflow: hidden;
    text-align: left;
    padding: 0 5px;
    height: auto;
    min-width: 150px;
    min-height: 150px;
  }
  #partner_section .partner {
    width: 100%;
    display: block;
  }
  #partner_section .partner img {
    width: 100%;
    margin: auto;
    padding: 0;
  }
  .stacktable.large-only {
      display: none;
  }
  .stacktable.small-only {
      text-align: center;
      display: table;
  }
}
