*, *:before, *:after {
  box-sizing: border-box;
  font-family: Lato, FontAwesome, Arial, sans-serif;
  padding: 0;
}

body {
  line-height: 1.5;
  margin: 0;
  font-size: 1em;
  font-weight: 300;
}

section {
  text-align: center;
  display: block;
  padding: 80px 80px;
  margin: 0;
  height: auto;
  border-bottom: solid 1px grey;
}

section h3 {
  color: black;
  font-weight: 700;
}

a {
  text-decoration: none;
}

/******************************************************************************
  Rules for individual sections
******************************************************************************/

#hero_section {
  text-align: center;
  display: block;
  padding: 0;
  width: 100%;
  background-color: grey;
  height: 700px;
  position: relative;
  background-image: url("../images/landing_page/full_header_image.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

/******************************************************************************
  My nav rules
******************************************************************************/

.nav-hide {
  /*top: -45px;*/
  overflow: hidden;
  height: 45px;
  padding: 0;
  line-height: 40px;
  padding: 0 10px;
  position: fixed;
  z-index: 2;
  width: 100%;
  color: white;
  background-color: black;
  transition: top 0.2s;
  overflow: auto;
}

.nav-show {
  top: 0px;
  transition: top 0.2s;
}

nav ul {
  display: block;
  padding: 0;
  margin: auto;
}

nav li {
  display: inline;
  margin: auto;
  padding: 0 5px;
}

nav a:link {
  color: yellow;
}

nav a:visited {
  color: white;
}

nav a:hover {
  color: #FFDA90;
}

.links {
  float: right;
}

.company_name {
  float: left;
  display: block;
  font-weight: 700;
}

.company_name h3 {
  margin: auto;
}

/******************************************************************************
  Media Queries Below
******************************************************************************/

@media all and (max-width: 960px) {
  html {
  font-size: 16px;
  }
}
